.header__container {
  display: flex;
  flex-direction: row;
  align-items: end;
  padding: 22px 0;
}

.header__logo {
  align-self: center;
  margin-right: 81px;
}

.header__link {
  margin-right: 40px;
  padding-bottom: 9px;
  border-bottom: 1.5px solid transparent;
  font-size: 24px;
  color: #FFFFFF;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.header__link:last-child {
  margin-right: 0;
}

.header__link--active {
  border-bottom: 1.5px solid #dc6cf4;
}

.header__link:hover {
  color: #B4A9FF;
}

.header__search-button {
  display: none;
  align-self: center;
  width: 20px;
  height: 20px;
  margin-right: auto;
  border: none;
  background-color: transparent;
  background-image: url('/header-search.png');
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.header__search-button:hover,
.header__search-button:focus,
.header__search-button:focus-visible {
  background-image: url('/header-search-hover.png');
}

.header__search-container {
  position: relative;
  margin-right: auto;
  width: 100%;
  max-width: 656px;
}

.header__search {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 4px 15px 52px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-family: 'Play', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #3a3b3d;
  background-image: url('/search.svg');
  background-size: 21px 21px;
  background-position: 3% 50%;
  background-repeat: no-repeat;
  transition: all .3s ease-in-out;
}

.header__search:focus,
.header__search:focus-visible {
  outline: none;
  border: 1px solid #B4A9FF;
  background-image: url('/search-hover.svg');
}

.header__search:hover {
  border: 1px solid #B4A9FF;
  background-image: url('/search-hover.svg');
}

.header__search::placeholder {
  font-family: 'Play', sans-serif;
  color: #929395;
}

.header__search-link {
  text-decoration: none;
}

.header__list--search {
  z-index: 5;
  position: absolute;
  top: 65px;
  left: 95px;
  right: 0;
  margin: 0;
  padding: 13px 9px 9px;
  border-radius: 8px;
  background-color: #3a3b3d;
  list-style: none;
}

.header__item--search {
  margin-bottom: 4px;
  padding: 13px 8px;
  border: 1px solid transparent;
  border-radius: 8px;
  color: #FFFFFF;
  background-color: #3a3b3d;
  transition: all .3s ease-in-out;
}

.header__item--search:last-child {
  margin-bottom: 0;
}

.header__item--search:hover {
  border: 1px solid #929395;
}

.search__item-container {
  display: flex;
}

.search__item-img {
  max-width: 40px;
  max-height: 52px;
  padding: 0 15px 0 0;
}

.search__text-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  color: #929395;
  text-decoration: none;
}

.search__item-title {
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
}

.header__search-delete {
  z-index: 5;
  position: absolute;
  top: 14px;
  right: 22px;
  padding: 0;
  border: none;
  font-size: 17px;
  font-weight: 700;
  color: #929395;
  background-color: transparent;
  cursor: pointer;
}

.header__login-btn {
  align-self: center;
  margin-left: 40px;
  padding: 0;
  border: none;
  font-family: 'Play', sans-serif;
  font-size: 24px;
  color: #FFFFFF;
  background-color: transparent;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.header__login-btn:hover {
  color: #B4A9FF;
}

.header__link-profile {
  margin-left: 40px;
}

@media(max-width: 1200px) {

  .header__list--search {
    left: 0;
  }

}

@media(max-width: 1000px) {

  .header__container {
    position: relative;
  }

  .header__logo {
    margin-right: auto;
  }

  .header__search-button {
    display: block;
    margin-right: 0;
  }

  .header__search-container {
    position: absolute;
    top: 16px;
    left: 0;
    right: 0;
    z-index: 4;
    max-width: 100%;
    margin-right: 0;
  }

  .header__search {
    background-position: 2% 50%;
  }

  .header__login-btn {
    align-self: self-start;
  }

  .header__search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

}

@media(max-width: 650px) {

  .header__link-main {
    display: none;
  }

  .header__link-genres {
    width: 24px;
    height: 24px;
    background-image: url('/header-genres.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .header__link-genres:hover,
  .header__link-genres:focus,
  .header__link-genres:focus-visible {
    background-image: url('/header-genres-hover.png');
  }

  .header__link-profile,
  .header__login-btn {
    width: 24px;
    height: 24px;
    align-self: center;
    background-image: url('/header-profile.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .header__link-profile:hover,
  .header__link-profile:focus,
  .header__link-profile:focus-visible,
  .header__login-btn:hover,
  .header__login-btn:focus,
  .header__login-btn:focus-visible {
    background-image: url('/header-profile-hover.png');
  }

}

@media(max-width: 550px) {

  .header__container {
    padding: 15px 0 0;
  }

  .header__logo img {
    width: 81px;
  }

  .header__link,
  .header__login-btn {
    margin: 0;
  }

  .header__link {
    margin-right: 20px;
  }

  .header__link-genres,
  .header__search-button {
    margin-right: 22px;
  }

  .header__list--search {
    display: flex;
    overflow: auto;
    padding: 22px 19px 29px;
  }

  .header__item--search {
    margin-right: 16px;
    padding: 0;
  }

  .search__item-container {
    flex-direction: column;
  }

  .search__item-img {
    max-width: 158px;
    max-height: 206px;
    margin-bottom: 16px;
    padding: 0;
  }

  .header__search {
    padding: 15px 4px 18px 52px;
    background-position: 5% 55%;
  }

  .search__item-content {
    width: 220px;
  }

  .search__text-content {
    align-items: baseline;
  }

}